// COLORS
$color-primary: #ee3131e1;
$color-primary-light: #f82b2be1;

$color-secondary: #5eec1c;

$color-white: #fff;

$color-grey: #d2d2d2;
$color-grey-dark: #a19f9f;
$color-grey-darker: #5a5959;
$color-grey-light: #faf9f9;
$color-grey-light-1: #f0eeee;